.na-nav-link-icon {
  color: #1f9cf0;
}
.na-card-body .row {
  margin: 1em 0;
}
.vscode-item {
  color: #1f9cf0;
}

#editor-area-body {
  padding: 5rem 20rem; 
}

@media screen and (max-width : 1200px) {
  #editor-area-body {
    padding: 5rem 8rem;
  }
}
@media screen and (max-width : 992px) {
  #editor-area-body {
    padding: 4rem 6rem;
  }
}
@media screen and (max-width : 768px) { 
  #editor-area-body {
    padding: 3rem 3rem;
  }
 }