.na-nav-link-icon {
  color: #1f9cf0;
}
.na-card-body .row {
  margin: 1em 0;
}
.vscode-item {
  color: #1f9cf0;
}

#editor-area-body {
  width: 70%;
  margin: auto;
  padding: 3em 0;
}

@media screen and (max-width : 992px) {
  #editor-area-body {
    width: 100%;
    height: calc(100vh - var(--header-height) * 2 - var(--footer-height));
    padding: 5rem 8rem;
    overflow-y: scroll;
  }
}

@media screen and (max-width : 768px) { 
  #editor-area-body {
    padding: 3rem 3rem;
    overflow-y: scroll;
  }
 }