#activity-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#activity-wrapper .top-menu, #activity-wrapper .bottom-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.na-nav-link {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 12px 0;
  color: var(--activitybar-inactive-text-color);
}
.na-nav-link.active {
  border-left: 2px solid var(--activitybar-active-border); 
}
.na-nav-link:hover {
  color: var(--activitybar-text-color);
}

.activity-icon {
  width: 1.5em;
  height: 1.5em;
}

