.list-item {
  --indent-size: 10px;
  font-size: var(--fs-small);
}

.list-item-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  padding-left: calc(var(--indent-size) * (var(--depth) + 1));
}

.list-item-header:hover {
  background-color: var(--list-hover-background);
}

.toggle-icon {
  margin-right: 5px;
}

.list-item-children {
  margin: 0;
  padding: 0;
}

.list-item-content {
  color: var(--list-inactive-selection-text-color);
}
