/* ul, .na-collapsible-list {
  list-style-type: none;
} */




/* ------------------------------------- */
/* .na-collapsible-list, 
.na-collapsible-list-item {
  display: block;
  padding: 0;
  margin: 0;
}

.na-collapsible-list {
  --depth: 1;
}

.na-collapsible-list-item {
  padding: 0.5em 1em 0.5em calc(2em * var(--depth));
  margin: 0 0 3px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.na-collapsible-list-item:hover,
.na-collapsible-list li:has(.na-collapsible-list-item.active) > .na-collapsible-list-item,
.na-collapsible-list-item.active {
  background-color: rgb(var(--color-primary-rgb));
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  cursor: pointer;
}

.na-collapsible-list-item:has(+ .na-collapsible-list)::before {
  content: '';
  display: block;
  position: absolute;
  margin-left: -1.15em;
  width: 0.3em;
  height: 0.3em;
  border-width: 0 1px 1px 0;
  border-style: solid;
  transform: rotate(-45deg);
  transition: transform 300ms;
}

.na-collapsible-list .na-collapsible-list {
  overflow-y: hidden;
  height: 0;
}
.na-collapsible-list .na-collapsible-list.open {
  height: auto;
}
.na-collapsible-list .na-collapsible-list-item:has(+ .na-collapsible-list.open)::before {
  transform: rotate(45deg);
} */