.icon-lg {
  font-size: 1.5em;
  margin: 0 4px;
}
.icon-xl {
  font-size: 2em;
}

/* Card: horizontal*/
.na-card.card-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* List */
.na-list-group-item {
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: var(--editor-background);
  color: var(--editor-text-color);
  border: none;
}
.na-list-group-item:hover {
  background-color: var(--editor-background);
  color: var(--editor-text-color);
}
.na-list-group a {
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: var(--point-color);
  text-decoration: none;
  text-transform: capitalize;
}
.na-list-group a:hover {
  color: var(--activitybar-active-border);
  font-family: 'mono-space-neon';
}
.na-list-group a:active, .na-list-group a:focus {
  background-color: transparent;
  color: var(--point-color);
}
.list-group-des{
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* Nav */
.na-nav-link {
  padding: 6px;
}
.na-card .na-nav-link.na-active {
  background-color: var(--editor-background);
  color: var(--editor-text-color);
  padding: 6px;
  border: none;
  border-right: var(--border-color) 1px solid;
  border-top: var(--activitybar-active-border) 2px solid;
  border-radius: 0;
}





