.na-dropdown-wrapper {
  --dropdown-main-menu-padding: 8px;

  position:relative;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-small);
  color: var(--dropdown-text);
}

.na-dropdown-main-menu {
  display: flex;
  padding: var(--dropdown-main-menu-padding);
  margin: 0;
  color: var(--active-text-color);
  line-height: var(--fs-small);
  font-size: inherit;
  border-radius: 3px;
  cursor: default;
  text-transform: capitalize;
  text-decoration: none;
}
.na-dropdown-main-menu:hover, .na-dropdown-main-menu:active {
  background: var(--list-hover-background);
}

.na-dropdown-sub-menu-wrapper {
  display:  none;
  /* transition: background-color 0.2s ease;  */
}

.na-dropdown-main-menu.open + .na-dropdown-sub-menu-wrapper {
  position: absolute;
  top: calc( var(--dropdown-main-menu-padding) * 2 + var(--fs-small));
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 10em;
  background-color: var(--dropdown-background);
  font-size: inherit;
  border: var(--border-width) solid var(--border-color);
  border-radius: 5px;
  padding: calc(var(--dropdown-main-menu-padding) / 2);
}

.na-dropdown-sub-menu {
  padding: 6px 0 6px 12px;
}
/* .na-dropdown-sub-menu:hover { */
.na-dropdown-sub-menu-wrapper .na-dropdown-sub-menu:hover {
 
  cursor: pointer;
  background-color: var(--dropdown-hover);
  border-radius: 2px;
}

.na-dropdown-divider {
  margin: 4px calc(-1 * var(--dropdown-main-menu-padding) / 2);
}