
#top-menu-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: var(--header-height);
}

#middle-content {
  position: relative;
  display: flex;
  overflow: hidden;
}

#activity-bar {
  display: flex;
  flex-direction: column;
  float: left;
  width: var(--activity-bar-width);
  height: calc(100vh - var(--header-height) - var(--footer-height ));
  background-color: var(--activitybar-background);
  border-right: var(--border-color) 1px solid;
}

#editor-area {
  display: flex;
  float: left;
  overflow: hidden;
  width: calc(100vw - var(--activity-bar-width));
  height: calc(100vh - var(--header-height) - var(--footer-height ));
  background-color: var(--editor-background);
}

#bottom-status-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: var(--footer-height);
}

@media screen and (max-width : 992px) { 
  #activity-bar {
    display: none;
  }

  #editor-area {
    width: 100%;
  }
 }