/* Common styles */
h1 {
  font-size: 2.5rem;
}
.icon-lg {
  font-size: 1.5em;
  margin: 0 4px;
}
.f-blue {
  color: #1f9cf0;
}
.f-grey {
  color: var(--bs-gray);
}
#tooltip-activity-bar.na-tooltip {
  color: var(--activitybar-text-color);
  background-color: var(--activitybar-background);
  border: 1px solid var(--activitybar-inactive-text-color);
  border-radius: 5px;
  font-size: var(--fs-small);
  padding: 2px 5px;
}


/* For the Layout.js componet */
#top-menu-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: var(--header-height);
}

#middle-content {
  position: relative;
  display: flex;
  overflow: hidden;
}

#activity-bar {
  display: flex;
  flex-direction: column;
  float: left;
  width: var(--activity-bar-width);
  height: calc(100vh - var(--header-height) - var(--footer-height ));
  background-color: var(--activitybar-background);
  border-right: var(--border-color) 1px solid;
}

#editor-area {
  display: flex;
  float: left;
  overflow: hidden;
  width: calc(100vw - var(--activity-bar-width));
  height: calc(100vh - var(--header-height) - var(--footer-height ));
  background-color: var(--editor-background);
}

#bottom-status-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: var(--footer-height);
}

@media screen and (max-width : 768px) { 
  #activity-bar {
    display: none;
  }

  #editor-area {
    width: 100%;
  }
 }