.na-mode-button-wrapper, .na-mode-button-wrapper div {
  display: flex;

  --na-mode-button-wrapper-margin-top-bottom: 2px;
  --na-mode-button-wrapper-margin-left-right: 5px;
  --na-mode-button-wrapper-padding-left-right: 5px;
}

.na-mode-button-wrapper {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 3.5em;
  padding: 0 var(--na-mode-button-wrapper-padding-left-right);
  margin: var(--na-mode-button-wrapper-margin-top-bottom) var(--na-mode-button-wrapper-margin-left-right);
  border-radius: 12px;
  box-shadow: inset -1px 1px 4px 0px rgba(0,0,0,0.5);
  background-color: #626262;
  transition: background-color 0.5s ease-in-out;
}
.na-mode-button-wrapper.light {
  box-shadow: inset -5px 2px 5px 0px rgba(151, 95, 0, 0.5);
  background-color: #ffc563 ;
}

.na-mode-button-wrapper.light .na-mode-button.light {
  animation-name: rotate-left-and-right;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 3;
}

.na-mode-button-wrapper.dark .na-mode-button.dark {
  animation-name: rotate-left-and-right;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 3;
}
@keyframes rotate-left-and-right{
  0% {
    transform : rotate(0);
  }
  50% {
    transform : rotate(-30deg);
  }
  100% {
    transform : rotate(30deg);
  }
}

.na-mode-button-selected-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.na-mode-button-selected {
  --na-mode-button-selected-border-width: 3px;
  --na-mode-button-selected-width: calc(var(--footer-height) - var(--na-mode-button-wrapper-margin-top-bottom) * 2 - var(--na-mode-button-selected-border-width) - 1px);

  position: absolute;
  top: var(--na-mode-button-wrapper-margin-top-bottom);
  left: calc(var(--na-mode-button-wrapper-margin-left-right) - 2px);
  right: auto;
  transform : translateX(0);
  display: flex;
  width: var(--na-mode-button-selected-width);
  height: var(--na-mode-button-selected-width);
  background-color: #f2f1ee;
  border-radius: 50%;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
  animation-name: to-the-left;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.na-mode-button-wrapper.light .na-mode-button-selected {
  left: auto;
  right: calc(var(--na-mode-button-wrapper-margin-left-right) - 2px);
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  animation-name: to-the-right;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes to-the-left{
  0% {
    left: 10px;
  }
  50% {
    left: -1px;
  }
  100% {
    left: calc(var(--na-mode-button-wrapper-margin-left-right) + 2px);
  }
}
@keyframes to-the-right{
  0% {
    right: 10px;
  }
  50% {
    right: -1px;
  }
  100% {
    right: calc(var(--na-mode-button-wrapper-margin-left-right) + 2px);
  }
}

