/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border: 2px solid transparent;
  background-color: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-thumb:hover, .na-primary-sidebar:hover::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 5px;
  background: var(--scrollbar-thumb-hover-color);
}
::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}


.na-primary-sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15vw;
  min-width: 230px;
  height: 100%;
  background-color: var(--list-inactive-selection-background);
  color: var(--list-inactive-selection-text-color);
  border-right: var(--border-width) solid var(--border-color);
}

.na-primary-sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4px 10px 10px 10px;
  font-size: var(--fs-small);
}

.sidebar-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.na-primary-sidebar-search-area {
  position: relative;
  display: flex;
  flex-direction: row;
}
.na-primary-sidebar-search {
  width: 100%;
  background-color: var(--list-search-area-background);
  color: var(--list-search-area-foreground);
  border: var(--border-width) solid var(--border-color);
  border-radius: 3px;
  height: 1.5rem;
}
.na-primary-sidebar-search:focus-visible {
  border: var(--border-width) solid var(--list-search-area-active-border);
  border-radius: 3px;
  outline: none;
}

.na-primary-sidebar-body {
  overflow-y: scroll;
}

.na-clear-button {
  position: absolute;
  top:-1px;
  bottom:0;
  right: 5px;
  left: auto;
  font-size: 1.1rem;
  color: var(--list-search-area-foreground);
}
.na-clear-button:hover {
  color: var(--active-text-color);
  cursor: pointer;
}

@media screen and (max-width : 992px) { 
  .na-primary-sidebar {
    display: none;
  }
}
