a {
  text-decoration: none;
}

#status-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--background-color);
  color: var(--active-text-color);
}

#status-wrapper .left-menu, #status-wrapper .right-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#status-wrapper .menu-icon {
  height: 100%;
  padding: 0 10px;
  font-size: var(--fs-xsmall);
  border-radius: 0;
  gap: 0.5em;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.menu-icon.bg-activity {
  background-color: var(--activitybar-active-border); 
}
.menu-icon.link {
  cursor: pointer;
}
.menu-icon p {
  margin: 0;
  padding: 0;
}
.status-icon{
  margin: 0 5px;
  width: 1.5em;
  height: 1.5em;
}


