#status-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--background-color);
  color: var(--active-text-color);
  /* border-top: 1px solid var(--border-color); */
}

#status-wrapper .left-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#status-wrapper .menu-icon {
  align-items: center;
  padding: 0 10px 0 5px;
  font-size: var(--fs-xsmall);
  border-radius: 0;
}
.menu-icon.bg-activity {
  background-color: var(--activitybar-active-border); 
}
.status-icon{
  margin: 0 5px;
  width: 1.5em;
  height: 1.5em;
}


