#top-menu-wrapper {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  background-color: var(--background-color);
  color: var(--active-text-color);
  border-bottom: 1px solid var(--border-color)
}

.menu-main-img {
  display: flex;
  height: fit-content;
  padding: 0 10px;
}
.menu-main-img img {
  width: 25px;
}
#top-menu-wrapper .left-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#top-menu-wrapper .right-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
#top-menu-wrapper .bp-lg {
  display: flex;
}
#top-menu-wrapper .bp-md {
  display: none;
}
.menu-img {
  display: flex;
  padding: 12px;
  color: var(--inactive-text-color);
}
.menu-img:hover {
  background: var(--list-hover-background);
}
.menu-img.close:hover {
  background: var(--c-red);
  color: var(--active-text-color);
}
.menu-img.bp-md {
  display: none;
}

@media screen and (max-width : 768px) { 
  #top-menu-wrapper .bp-lg {
    display: none;
  }
  #top-menu-wrapper .bp-md {
    display: flex;
  }
 }